@page "/Flights"
@FlightsGrid
<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code{
    //<Grid Rowdefinitions ="Auto, Auto, Auto, Auto , Auto , Auto, Auto, Auto, Auto , *, *, 50 " />//

    //<label Text = "Flight Finder" Grid.Row="0" Grid.Column="2" Grid.Columnspan="4" />//

}