@page "/flights"
<h3>Flights</h3>
<div class="row">
	<div class="col-3">
		From:
		<input class="form-control" type="text"/>
	</div>

	<div class="col-3">
		To:
		<input class="form-control" type="text" />
	</div>

	<div class="col-3">
		Day:
		<input class="form-control" type="text" />
	</div>

	<div class="col-3">
		<button type="button" class="find-flights">Find Flights</button>
	</div>



</div>