@page "/flights"
@using Assignment_2.Pages
<h2>Flights</h2>
<div class="row">
	<div class="col-3">
		From:
		<input class="form-control" type="text" name="findData()" />
	</div>

	<div class="col-3">
		To:
		<input class="form-control" type="text" name="findData()" />
	</div>

	<div class="col-3">
		Day:
		<input class="form-control" type="text" name="findData()" />
	</div>

	<div class="col-3">
		<button type="button" class="btn btn-primary" name="findFlight()">Find Flights</button>
	</div>
</div>

<h3>Flight</h3>
<div class="row">
	<div class="col-12">
		<input class="form-control" type="text" />
	</div>
</div>

<h3>Reservations</h3>
<div class="row">
		Flight Code:
	<div class="col-12">
		<input class="form-control" type="text" />
	</div>
		Airline:
	<div class="col-12">
		<input class="form-control" type="text" />
	</div>
		Day:
	<div class="col-12">
		<input class="form-control" type="text" />
	</div>
		Time:
	<div class="col-12">
		<input class="form-control" type="text" />
	</div>
		Cost:
	<div class="col-12">
		<input class="form-control" type="text" />
	</div>
		Name:
	<div class="col-12">
		<input class="form-control" type="text" />
	</div>
		Citizenship:
	<div class="col-12">
		<input class="form-control" type="text" />
	</div>
</div>

<div class="row">
	<div class="col">
		<button type="button" class="btn  btn-primary">Submit</button>
	</div>
</div>

@code {

	public static List<Flight> flights = new List<Flight>();



	public void addFlight()
	{
		string[] path = File.ReadAllLines("C:\\Users\\msimm\\Desktop\\Semester 2\\OOP2\\Assignments\\Assignment_2\\Assignment_2\\Resources\\Project Data\\flights.csv");
		foreach (string flight in path)
		{
			string[] position = flight.Split(",");
			string identification = position[0];
			char firstChar = identification[0];

			Flight newflight = new Flight(
				position[0], 
				position[1], 
				position[2], 
				position[3], 
				position[4], 
				position[5], 
				int.Parse(position[6]), 
				int.Parse(position[7]), 
				double.Parse(position[8]));

				flights.Add(newflight);
		}
	}
}