@page "/flights"
@using Assignment_2.Data;
<h2>Flights</h2>
<div class="row">
	<div class="col-3">
		From:
		<input class="form-control" type="text" name="findData()" />
	</div>

	<div class="col-3">
		To:
		<input class="form-control" type="text" name="findData()" />
	</div>

	<div class="col-3">
		Day:
		<input class="form-control" type="text" name="findData()" />
	</div>

	<div class="col-3">
		<button type="button" class="btn btn-primary" name="findFlight()">Find Flights</button>
	</div>
</div>

<h3>Flight</h3>
<div class="row">
	<div class="col-12">
		<input class="form-control" type="text" />
	</div>
</div>

<h3>Reservations</h3>
<div class="row">
		Flight Code:
	<div class="col-12">
		<input class="form-control" type="text" readonly />
	</div>
		Airline:
	<div class="col-12">
		<input class="form-control" type="text" readonly />
	</div>
		Day:
	<div class="col-12">
		<input class="form-control" type="text" readonly />
	</div>
		Time:
	<div class="col-12">
		<input class="form-control" type="text" readonly/>
	</div>
		Cost:
	<div class="col-12">
		<input class="form-control" type="text" readonly/>
	</div>
		Name:
	<div class="col-12">
		<input class="form-control" type="text" readonly />
	</div>
		Citizenship:
	<div class="col-12">
		<input class="form-control" type="text" readonly />
	</div>
</div>

<div class="row">
	<div class="col">
		<button type="button" class="btn  btn-primary">Submit</button>
	</div>
</div>

@code {
	FlightManager flightManager = new FlightManager();
	List<FlightsCode> flights = FlightManager.GetFlights();
}