@page "/Reservations"

@using Assignment_2.Data

<h1>Reservations</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Code</th>
                <th>Airline</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    @code {
        
    }
}
